//picture
.section-picture {
  height: 130px;

  background: no-repeat;
  background-size: contain;
  background-position-x: 52%;
}

//text
@mixin section-text {
  text-align: center;
  color: white;
}

.section-mediumText {
  @include section-text;
  font-size: 25px;
}

.section-smallText {
  @include section-text;
  font-size: 20px;
}

.section-tinyText {
  @include section-text;
  font-size: 15px;
}

//entry
.section-entry {
  height: 200px;
  width: 100%;

  color: white;
}

////entry icon
.section-entry-icon {
  width: 35%;

  text-align: right;
  vertical-align: middle;
  padding-right: 30px;
}
////entry text
.section-entry-text {
  width: 65%;
  padding-left: 30px;
  padding-right: 200px;
}

//entry icon background picture
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-one-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/activity-one.png');
  background-position: 100% 0;
}