//picture
.section-picture {
  height: 130px;

  background: no-repeat;
  background-size: contain;
  background-position-x: 52%;
}

//text
@mixin section-text {
  text-align: center;
  color: white;
}

.section-mediumText {
  @include section-text;
  font-size: 25px;
}

.section-smallText {
  @include section-text;
  font-size: 20px;
}

.section-tinyText {
  @include section-text;
  font-size: 15px;
}

//entry
.section-entry {
  height: 200px;
  width: 100%;

  color: white;
}

////entry icon
.section-entry-icon {
  width: 35%;
}
//////section entry icon caption
.section-entry-icon-caption {
  float: right;
  width: 200px;
  text-align: center;
}
////entry text
.section-entry-text {
  width: 65%;
  padding-left: 30px;
  padding-right: 200px;
}

//entry icon background picture
//noinspection CssOptimizeSimilarProperties
@mixin section-entry-icon-background{
  background: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-one-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-one.png');
}
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-two-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-two.png');
}
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-three-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-three.png');
}
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-four-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-four.png');
}
//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.activity-five-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-five.png');
}