@media (max-width: 1000px) {
  .gallery-RESP {
    height: auto;
  }
  .gallery-item-container-RESP {
    height: auto;
  }

  .gallery-item-RESP {
    width: 100%;
    height: 70px;
    display: block;
    padding-top: 180px;

    vertical-align: inherit;
  }

  .beijing-background-RESP {
    background-size: 160px;
  }
  .xian-background-RESP {
    background-size: 160px;
  }
  .chengdu-background-RESP {
    background-size: 120px;
  }
  .wuhan-background-RESP {
    background-size: 120px;
  }

  .p1-background-RESP {
    background-size: 160px;
  }
  .p2-background-RESP {
    background-size: 130px;
  }
  .p3-background-RESP {
    background-size: 150px;
  }
}