.section-entry {
  height: 200px;
  width: 100%;
}

//entry icon
.section-entry-icon {
  width: 37%;
}

.section-entry-icon-caption {
  float: right;
  width: 200px;
  text-align: center;
}

//entry text
.section-entry-text {
  width: 63%;
  padding-left: 40px;
}

.section-entry-text-content {
  width: 75%;
}


//entry icon background picture
@mixin section-entry-icon-background{
  background: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}

.activity-one-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-one.png');
}

.activity-two-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-two.png');
}

.activity-three-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-three.png');
}

.activity-four-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-four.png');
}

.activity-five-icon {
  @include section-entry-icon-background;
  background-image: url('../../images/activity-five.png');
}

@import "section-entry_responsive";