.navBar {
  height: 70px;
  padding-top: 25px;
}

.highNavBar {
  height: 80px;
  padding-top: 50px;
}

.navBar-item-container {
  float: right;
}

.navBar-item {
  display: inline-block;
  width: 150px;

  text-align: center;
  font-size: 17px;
}

.navBar-item-white {
  color: white;
}

.navBar-item:last-of-type {
  margin-right: 50px;
}