@mixin navBar {
  height: 80px;
}

//navBars
.highNavBar {
  @include navBar;
  padding-top: 50px;
}

.mediumNavBar {
  @include navBar;
  padding-top: 25px;
}

//navBar container
.container-navBar-item {
  float: right;
}

//navBar items
@mixin navBar-item {
  display: inline-block;
  width: 150px;

  text-align: center;
  font-size: 17px;
}

.navBar-normalItem {
  @include navBar-item;
  color: #8e8e8e;
}

.navBar-whiteItem {
  @include navBar-item;
  color: white;
}

.navBar-item:last-of-type {
  margin-right: 50px;
}