@mixin section {
  background-size: cover;
  background-position-x: 0;
}

.bigSection {
  @include section;
  height: 650px;
}

.mediumSection {
  @include section;
  height: 550px;
}

.pair-programming-background {
  background-image: url('../../images/the-game-of-pair.png');
  background-position-y: 70%;
}

.sign-up-background {
  background-image: url('../../images/sign-up.png');
  background-position-y: 35%;
}


.section-picture {
  height: 130px;

  background: no-repeat;
  background-size: contain;
  background-position-x: 52%;
}


@mixin section-text {
  text-align: center;
  color: white;
}

.section-mediumText {
  @include section-text;
  font-size: 25px;
}

.section-smallText {
  @include section-text;
  font-size: 20px;
}

.section-bigWhitespace {
  margin-top: 60px;
}

.section-smallWhitespace {
  margin-top: 20px;
}

.section-tinyWhitespace {
  margin-top: 10px;
}

.thoughtworks-elements-background {
  background-image: url('../../images/thoughtworks-elements.png');
  background-position-y: 50%;
}
