.section-picture {
  height: 130px;

  background: no-repeat;
  background-size: contain;
  background-position-x: 52%;
}

//noinspection CssUnknownTarget,CssOptimizeSimilarProperties
.thoughtworks-elements-background {
  background-image: url('../../images/thoughtworks-elements.png');
  background-position-y: 50%;
}