.section-hugeWhitespace {
  margin-top: 200px;
}

.section-bigWhitespace {
  margin-top: 60px;
}

.section-mediumWhitespace {
  margin-top: 40px;
}

.section-smallWhitespace {
  margin-top: 20px;
}

.section-tinyWhitespace {
  margin-top: 10px;
}
